<%- include('includes/head'); -%>
  <%- include('includes/nav');-%>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
          <h1 class=" text-center">Cadastrar contato</h1>

          <form action="/contato/register" method="post">
            <div class="mb-3">
              <label>Nome</label>
              <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label>Sobrenome</label>
              <input name="lastName" type="text" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label>Telefone</label>
              <input name="tel" type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label>E-mail</label>
              <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
            </div>

            <button type="submit" class="btn btn-primary">cadastrar</button>
          </form>

          <div class="col-lg-2"></div>
        </div>
      </div>

      <%- include('includes/footer'); -%>